<div class="flex-horizontal full-width mt-3">
  <button class="btn btn-light mr-1" (click)="reloadHorses()">&#x21bb;</button>
</div>

<div>
  <label for="new-horse-name">name: </label>
  <input id="new-horse-name" #horseName />
  <label for="new-horse-desc">description: </label>
  <input id="new-horse-desc" #horseDesc />
  <label for="new-horse-date">birhtdate: </label>
  <input id="new-horse-date" #horseDate />
  <label for="new-horse-sex">sex: </label>
  <input id="new-horse-sex" #horseSex />
  <label for="new-horse-owner">owner: </label>
  <input id="new-horse-owner" #horseOwner />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)=
    "add(horseName.value, horseDesc.value, horseDate.valueAsDate, horseSex.valueAsNumber, horseOwner.value); horseName.value=''">
    Add horse
  </button>
</div>

<div class="mt-3">
  <table class="table table-hover">
    <thead>
    <th>Horses</th>
    </thead>
    <tbody>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Birthdate</th>
      <th>Sex</th>
      <th>Owner</th>
    </tr>
      <tr *ngFor="let horse of horses">
        <td>{{horse.name}}</td>
        <td>{{horse.description}}</td>
        <td>{{horse.birthdate}}</td>
        <td>{{horse.gender}}</td>
        <td>{{horse.owner}}</td>
      </tr>
    </tbody>
  </table>
</div>
