<div *ngIf="active">
  <div>
    <label for="new-horse-name">name: </label>
    <input id="new-horse-name" #horseName placeholder="required"/>

    <label for="new-horse-desc">description: </label>
    <input id="new-horse-desc" #horseDesc placeholder="optional"/>

    <label for="new-horse-date">birhtdate: </label>
    <input type="date" id="new-horse-date" #horseDate placeholder="required"/>

    <label for="new-horse-gender">gender: </label>
    <select name="demo" #horseSex>
      <option selected="selected" id="new-horse-gender" value="m">male</option>
      <option value="f">female</option>
    </select>

    <label for="new-horse-owner">owner: </label>
    <input id="new-horse-owner" #horseOwner placeholder="optional"/>

    <label for="new-horse-mom">mother: </label>
    <input id="new-horse-mom" type="text"
           name="horseMom"
           class="form-control"
           [(ngModel)]="selectedMom"
           [ngbTypeahead]="searchMom"
           [resultFormatter]="resultFormatBandListValue"
           [inputFormatter]="inputFormatMom"
           #instance="ngbTypeahead"
           placeholder="optional"
    />

    <label for="new-horse-dad">father: </label>
    <input id="new-horse-dad" type="text"
           name="horseDad"
           class="form-control"
           [(ngModel)]="selectedDad"
           [ngbTypeahead]="searchDad"
           [resultFormatter]="resultFormatBandListValue"
           [inputFormatter]="inputFormatDad"
           #instance="ngbTypeahead"
           placeholder="optional"
    />

    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)=
      "add(horseName.value, horseDesc.value, horseDate.valueAsDate, horseSex.value, horseOwner.value, selectedMom.id, selectedDad.id); horseName.value=''">
      add horse
    </button>
    <button type="button" class="add-button" (click)="active=false">
      cancel
    </button>
  </div>
</div>

<div *ngIf="!active"><button type="button" class="add-button" (click)="active = true">
  add new horse
</button></div>
