<div>

  <h2>{{horse?.name}} details:</h2>

  <div>name: {{horse?.name}}</div>
  <div>description: {{horse?.description}}</div>
  <div>born: {{horse?.birthdate}}</div>
  <div>gender: {{horse?.gender}}</div>
  <div>owner: {{horse?.owner}}</div>
  <div>mother: <a [routerLink]="['/horse', mom.id]" >{{mom?.name}}</a></div>
  <div>father: <a [routerLink]="['/horse', dad.id]" >{{dad?.name}}</a></div>

  <button><a [class.selected]="horse === selectedHorseEdit" type="button" (click)="onSelectEdit(horse)">edit</a></button>
  <button><a [class.selected]="horse === selectedHorseDelete" type="button" (click)="onSelectDelete(horse)"> delete</a></button>

  <app-horse-update [horse]="selectedHorseEdit"></app-horse-update>

  <app-horse-delete [horse]="selectedHorseDelete"></app-horse-delete>

</div>
