<div *ngIf="active">
  <form #form="ngForm" (ngSubmit)="add(ownerSur.value, ownerGiv.value, ownerEmail.value)">

    <div class="form-group mb-2">
      <label for="new-owner-givenname">Givenname: </label>
      <input id="new-owner-givenname" class="form-control" #ownerSur placeholder="Enter Givenname (required)"/>
    </div>

    <div class="form-group mb-2">
      <label for="new-owner-surname" class="form-label">Surname: </label>
      <input id="new-owner-surname" class="form-control" #ownerGiv placeholder="Enter Surname (required)"/>
    </div>

    <div class="form-group mb-2">
      <label for="new-owner-email" class="form-label">Email: </label>
      <input id="new-owner-email" class="form-control" #ownerEmail placeholder="Enter Email (optional)"/>
    </div>

    <div class="form-group mb-2">
      <button type="submit" class="btn btn-dark" >Add Owner</button>
      <button type="button" class="btn btn-light" (click)="active=false">Cancel</button>
    </div>
  </form>
</div>

<div *ngIf="!active">
  <button type="button" class="btn btn-light" (click)="active = true">Add owner</button>
</div>
